{% extends "parent_template.html" %}
{% block body %}

    <div class="container-sm pt-3">
        <table class="table table-hover">
            <thead class="thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Size</th>
                    <th scope="col">Price per unit</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Delete item</th>
                </tr>
            </thead>
            
            <tbody>
            {% set counter = namespace(value=1) %}
            {% for vendor in cart %}
                {% for size in cart[vendor]['sizes'] %}
                    <tr>
                        <th scope="row">{{ counter.value }}</th>
                        <td>{{ vendor }}</td>
                        <td>{{ size }}</td>
                        <td>{{ cart[vendor]['price'] }}</td>
                        <!-- Quantity manage -->
                        <td class="d-flex flex-row">
                            
                            <!-- Decrement quantity button -->
                            <button onclick="updateItemAmount({{ vendor }}, {{ size }}, 'dec')" type="button" class="btn mr-1 btn-outline-secondary btn-circle btn-sm">-</button>
                            
                            <div id="item-{{ vendor }}-{{ size }}">
                                {{ cart[vendor]['sizes'][size] }}
                            </div>
                            
                            <!-- Increment quantity button -->
                            <button onclick="updateItemAmount({{ vendor }}, {{ size }}, 'inc')" type="button" class="btn ml-1 btn-outline-secondary btn-circle btn-sm">+</button>
                            
                            <script>
                                function updateItemAmount(vendor, size, method) {
                                    var itemAmount = Number(document.querySelector(`#item-${vendor}-${size}`).innerText);
                                    if (method == "dec" && itemAmount <= 1) {
                                        console.log("Wrong action");
                                    } else {
                                        var xmlhttp = new XMLHttpRequest();
                                        var url = `/update_item_amount/${vendor}/${size}/${method}`;
                                        
                                        xmlhttp.onreadystatechange = function() {
                                            if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                                                if (xmlhttp.status == 200) {
                                                    var response = xmlhttp.responseText.split(",");
                                                    var itemAmount = response[0];
                                                    var itemsQuantity = response[1];
                                                    var totalOrderPrice = response[2];
                                                    document.querySelector(`#item-${vendor}-${size}`).innerText = itemAmount;
                                                    document.querySelector("#cart-items-amount").innerText = itemsQuantity;
                                                    document.querySelector("#total-order-price").innerText = Number(totalOrderPrice).toFixed(2);
                                                }
                                                else if (xmlhttp.status == 400) {
                                                    alert('There was an error 400');
                                                }
                                                else {
                                                    alert('something else other than 200 was returned');
                                                    console.log(xmlhttp.status);
                                                }
                                            }
                                        };

                                        xmlhttp.open("GET", url, true);
                                        xmlhttp.send();
                                    };
                                };
                            </script>
                        </td>
                        <td>
                            <form action="/remove_item_from_cart/{{ vendor }}/{{ size }}" method="post">
                                <button type="submit" formmethod="post" type="button" class="btn btn-outline-danger btn-sm">Delete item</button>
                            </form>
                        </td>
                    </tr>
                    {% set counter.value = counter.value + 1 %}
                {% endfor %}
            {% endfor %}
            </tbody>

        </table>
        <div class="d-flex flex-row">
            Total price:
            <div id="total-order-price">
                {{ "%.2f"|format(total_price) }} ₽
            </div>
        </div>
    </div>

{% endblock %}