{% extends "parent_template.html" %}
{% block body %}

    <div class="container-sm pt-3">
        <table class="table table-hover">
            <thead class="thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Size</th>
                    <th scope="col">Color</th>
                    <th scope="col">Total price</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Amount</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            
            <tbody>
            {% for item in cart %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    {% for value in item %}
                        <td>{{ value }}</td>
                    {% endfor %}
                        <td>
                            <button type="button" class="btn btn-danger btn-sm">Delete item</button>
                        </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        Total price: {{ total_price }}
    </div>

{% endblock %}