{% block body %}
<div class="d-flex flex-wrap justify-content-center h-100 w-100 p-1">
    {% for item in goods %}
        
        <div class="d-flex flex-column item-style m-3 ml-4">
            <!-- Item image -->
            <div class="d-flex justify-content-center align-items-center h-75">
                <img class="item-img" src="/static/img/{{ item[2] }}" alt="Italian Trulli">
            </div>
            <!-- Item description -->
            <div class="d-flex flex-column justify-content-center h-25 p-2">
                <!-- Name -->
                <div>
                    <h6>
                        {{ item[8] }}

                        {% if item[7] == "1" %}
                            <span class="badge badge-warning">New</span>
                        {% endif %}
                    </h6>
                </div>

                <!-- Price -->
                <div>
                    {% if item[6] == "1" %}
                        Price: <s>{{ "%.2f"|format(item[4]|float) }}</s> {{ "%.2f"|format(item[4]|int * (1 - item[5]|float)|float) }} ₽
                    {% else %}
                        Price: {{ "%.2f"|format(item[4]|float) }} ₽
                    {% endif %}
                </div>
                
                <!-- Category 
                <div class="d-flex flex-row justify-content-between">
                    {{ item[9] }}
                </div>
                -->

                <!-- Добавить в корзину -->
                <div>
                    <form class="form-inline">
                        <select class="custom-select my-1 mr-sm-2" id="size-{{ item[0] }}" required>
                            <option selected>Size</option>
                            <option value="44">44</option>
                            <option value="46">46</option>
                            <option value="48">48</option>
                            <option value="50">50</option>
                            <option value="52">52</option>
                        </select>
                      
                        <button onclick="add_to_cart(this);" id="add-to-cart-{{ item[0] }}" type="button" class="btn btn-outline-success btn-sm">To cart</button>
                    </form>
                </div>
            </div>
        </div>

    {% endfor %}
</div>
{% endblock %}