{% extends "parent_template.html" %}
{% block body %}

<div class="container-fluid d-flex flex-row" style="height: 400px;">
    <!-- Левый блок. Выбор категории -->
    <div class="m-1 p-1" style="width: 15%; min-width: 120px;">
        
        <!-- Форма выбора пола -->
        <form>
            <!-- Для всех -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radio-sex" id="radio-sex-for-all" value="forall" checked>
                <label class="form-check-label" for="radio-sex-for-all">
                    For all
                </label>
            </div>

            <!-- Женское -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radio-sex" id="radio-sex-women" value="women">
                <label class="form-check-label" for="radio-sex-women">
                    Women
                </label>
            </div>

            <!-- Мужское -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radio-sex" id="radio-sex-men" value="men">
                <label class="form-check-label" for="radio-sex-men">
                    Men
                </label>
            </div>
        </form>

    </div>

    <!-- Правый блок. Товары и фильтр -->
    <div class="m-1 p-1 d-flex flex-column" style="width: 85%">
        <!-- Фильтры сверху -->
        <form>
            <div class="d-flex flex-row justify-content-start align-items-center p-1">
                
                <!-- Сортировка -->
                <div class="btn-group mr-2" style="width: 180px;">
                    <button id="sorting-button" class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Сортировать по
                    </button>
                    <div class="dropdown-menu">
                        <a onclick="myFunction('По популярности')"    class="dropdown-item" active href="#">По популярности</a>
                        <a onclick="myFunction('Цена возрастание')"   class="dropdown-item" href="#">Цена возрастание</a>
                        <a onclick="myFunction('Цена убывание')"      class="dropdown-item" href="#">Цена убывание</a>
                        <a onclick="myFunction('Размер возрастание')" class="dropdown-item" href="#">Размер возрастание</a>
                        <a onclick="myFunction('Размер убывание')"    class="dropdown-item" href="#">Размер убывание</a>
                    </div>
                </div>
                
                
                <div>
                    Фильтр 2
                </div>
                
                <div>
                    Фильтр 3
                </div>
            </div>
        </form>
        <!-- Каталог товаров или сообщение, что их нет -->
        <div class="flex-grow-1 p-1 mt-1">
            Товары
        </div>
    </div>
</div>

{% endblock %}