{% extends "parent_template.html" %}
{% block body %}

<div class="container-fluid d-flex flex-row" style="height: 400px;">
    <!-- Левый блок. Выбор категории -->
    <div class="m-1 p-1 pt-4" style="width: 15%; min-width: 120px; border-right: 1px solid grey;">
        
        <!-- Форма выбора пола -->
        <form id="gender-check-radio">
            <!-- Для всех -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radio-sex" id="radio-sex-for-all" value="forall" checked>
                <label class="form-check-label" for="radio-sex-for-all">
                    For all
                </label>
            </div>

            <!-- Женское -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radio-sex" id="radio-sex-women" value="women">
                <label class="form-check-label" for="radio-sex-women">
                    Women
                </label>
            </div>

            <!-- Мужское -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radio-sex" id="radio-sex-men" value="men">
                <label class="form-check-label" for="radio-sex-men">
                    Men
                </label>
            </div>
        </form>

    </div>

    <!-- Правый блок. Товары и фильтр -->
    <div class="m-1 p-1 d-flex flex-column" style="width: 85%">
        <!-- Фильтры сверху -->
        
        <div id="filters-border-bottom" class="d-flex flex-row justify-content-start align-items-center p-1 pb-3 pt-2">
            
            <!-- Сортировка -->
            <form>
                <div class="btn-group mr-2" style="width: 180px;">
                    <button id="sorting-button" class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by</button>
                    <div class="dropdown-menu">
                        <a onclick="myFunction('By popularity')"  class="dropdown-item" active href="#">By popularity</a>
                        <a onclick="myFunction('Ascending prices')" class="dropdown-item" href="#">Ascending prices</a>
                        <a onclick="myFunction('Descending prices')"    class="dropdown-item" href="#">Descending prices</a>
                    </div>
                </div>
            </form>
            
            <!-- Категории одежды -->
            <div class="mr-1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="button-group">
                                <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">Categories</button>
                                <ul class="dropdown-menu dropdown-menu-category">
                                    <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 1</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 2</a></li>
                                    <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 3</a></li>
                                    <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 4</a></li>
                                    <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 5</a></li>
                                    <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 6</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button onclick="send_filter_results()" type="button" class="btn btn-success btn-sm">Apply filters</button>

        </div>
        
        <!-- Каталог товаров или сообщение, что их нет -->
        <div class="flex-grow-1 p-1 mt-1">
            {% include "catalog.html" %}
        </div>
    </div>
</div>
{% endblock %}