#filters-border-bottom {
    border-bottom: 1px solid grey;
}

.item-style {
    height: 442px;
    width: 230px;
    background-color: lavender;
}

.item-img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
}